@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the WinOps Calculator</h1>
    <p class="lead">Please login with your user to get access to some awesome features!</p>
</div>